*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

input, select, textarea, button {
    font: inherit;
}

body {
    background-color: #c9e3ff; 
    font-family: 'Roboto';
}

/* structure styling */

/* Card Preview */

.main-container {
    display: flex;
    margin: 0 auto;
    justify-content: center;
}

.card-preview {
    margin: 0rem 2rem;
}

.title {
    text-align: center;
    margin: 1rem;
    font-size: 3rem;
    font-family: 'Slackey';
}

.subtitle {
    text-align: center;
    margin-bottom: 0.5rem;
    font-size: 2rem;
    font-family: 'Slackey';
}

.outer-card-container {
    max-width: 472px;
    height: 658px;
    padding: 1.1rem;
    background-color: #eaf25c;
    border-radius: 1.5rem;
    border: 1px solid #64605f;
}

.card-container {
    color: #f7f9fb;
    padding: 0rem 1rem;
    border-radius: 0.5rem;
    background-image: url('./images/PK_Textures/darkness_modern.png');
}

.picture-container {
    border: 3px solid lightgrey;
}

.picture {
    width: 100%;
}

/* Card Details */

.card-editor {
    margin-right: 2rem;
}

.basic-information-container {
    background-color: white;
    border-radius: 1.2rem;
    padding: 2rem;
    border: 3px solid #64605f;
    margin-bottom: 2rem;
}

.move-information-container {
    background-color: white;
    border-radius: 1.2rem;
    padding: 2rem;
    border: 3px solid #64605f;
    margin-bottom: 2rem;
}

.section {
    margin: 0.5rem 0;
}

label {
    font-weight: 500;
}

/* element styling */

/* Card Preview */

.save-button {
    display: flex;
    justify-content: center;
    padding: 1rem 0;
}

button {
    padding: 0.5rem 3rem;
    border-radius: 0.5rem;
    margin-bottom: 2rem;
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 1px;
}

button:hover {
    cursor: pointer;
    background-color: rgba(99, 238, 6, 0.671);
}

.card-title-information {
    display: flex;
    width: 100%;
    align-items: center;
}

#pokemon-level {
    background-color: #d8d7d6;
    border-radius: 0.4rem;
    font-size: 0.9rem;
    padding: 0.1rem 1rem;
    border: 1px solid #64605f;
    margin: 0.5rem;
    position: relative;
    font-style: italic;
    color: black;
    right: 1.775rem;
    font-weight: 900;
}

#card-name {
    position: relative;
    right: 1.5rem;
    font-size: 1.75rem;
    margin: 0.15rem 0rem 0.3rem 0rem;
    font-weight: 500;
    letter-spacing: 0.5px;
    max-width: 12.6rem;
    overflow: hidden;
}

#pokemon-hp {
    margin-left: auto;
    margin-top: auto;
    font-size: 0.75rem;
    font-weight: 700;
}

#hp-number {
    font-size: 2rem;
    font-weight: 400;
}

.symbol-type {
    position: relative;
    left: 0.6rem;
    top: 0.15rem;
}

.symbol-type img{
    width: 1.8rem;
}

.pokemon-stats {
    border-radius: 0 0 0.5rem 0.5rem;
    font-size: 0.6rem;
    background-color: #d8d7d6;
    color: black;
    display: flex;
    justify-content: space-around;
    padding-right: 5rem;
    padding-left: 5rem;
}

.move-container {
    display: grid;
    gap: 0.5rem;
    padding: 1rem 0 1rem 0;
    height: 15rem;
}

.move-1-container {
    display: flex;
}

.move-1-cost {
    width: 9rem;
}

.symbol-attack img{
    width: 1.6rem;
    margin-right: 0.15rem;
}

.move-1-name {
    font-size: 1.6rem;
}

.move-1-damage {
    margin-left: auto;
    font-size: 1.6rem;
}

.move-2-container {
    display: flex;
}

.move-2-cost {
    width: 9rem;
}

.move-2-name {
    font-size: 1.6rem;
}

.move-2-damage {
    margin-left: auto;
    font-size: 1.6rem;
}

.move-3-container {
    display: flex;
}

.move-3-cost {
    width: 9rem;
}

.move-3-name {
    font-size: 1.6rem;
}

.move-3-damage {
    margin-left: auto;
    font-size: 1.6rem;
}

#symbol-retreat img{
    width: 1.15rem;
    margin-right: 0.15rem;
}

.card-costs {
    display: flex;
}

.weakness {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    right: 1.85rem;
    background-color: #d8d7d6;
    border-radius: 0.4rem 0 0 0.4rem;
    font-size: 0.8rem;
    padding: 0.1rem 0.5rem;
    border: 1px solid #64605f;
    margin: 0.65rem;
    color: black;
    font-weight: 900;
    max-width: 9.5rem;
}

.weakness-name {
    margin-right: 0.5rem;
    font-size: 0.75rem;
}

.weakness-multiplier {
    font-size: 1.3rem;
}

#symbol-weakness img{
    width: 1.15rem;
    margin-right: 0.2rem;
}

.resistance {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    right: 3.15rem;
    background-color: #d8d7d6;
    border-radius: 0 0.4rem 0.4rem 0;
    font-size: 0.8rem;
    padding: 0.1rem 0.5rem;
    border: 1px solid #64605f;
    margin: 0.65rem;
    color: black;
    font-weight: 900;
    width: 9.5rem;
}

.resistance-name {
    font-size: 0.75rem;
}

.resistance-amount {
    margin-left: 0.2rem;
}

#symbol-resistance img{
    width: 1.15rem;
    margin-left: 0.5rem
}

.retreat {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    right: 0.725rem;
    margin: 0.65rem;
    background-color: #d8d7d6;
    border-radius: 0.4rem 0.4rem 0.4rem 0.4rem;
    font-size: 0.8rem;
    padding: 0.1rem 0.5rem;
    border: 1px solid #64605f;
    color: black;
    margin-left: auto;
    font-weight: 900;
    max-width: 9.5rem;
}

.retreat-cost {
    display: flex;
    width: 5.2rem;
}

.retreat-name {
    margin-right: 0.5rem;
    font-size: 0.75rem;
}

.card-details {
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 0.5rem;
}

.illustration {
    font-size: 0.675rem;
    display: flex;
}

.card-details-right {
    min-width: 9rem;
}

.pokemon-description {
    font-size: 0.8rem;
    text-align: left;
}

.card-number {
    font-size: 0.9rem;
    font-weight: 700;
}

.copyright-date {
    font-size: 0.65rem;
}

/* Card Details */

.details-subtitle {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
}

.move-subtitle {
    text-align: center;
    font-weight: 600;
    font-size: 1.1rem;
}

.section input{
    margin-top: 0.25rem;
    padding: 0.5rem;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 0.3rem;
}

.card-details-health input {
    max-width: 5rem;
}

.card-details-moves input{
    margin: 0 0 0rem 0.5rem;
}

.move-details, textarea {
    width: 100%;
    margin-bottom: 0.5rem;
    margin-top: 0.25rem;
    border-radius: 0.3rem;
}

.move-details input, select {
    margin: 0.25rem 0;
    font-size: 1rem;
    padding: 0.5rem;
    font-weight: 500;
    border-radius: 0.3rem;
}

#move1-damage {
    width: 5rem;
}

#move2-damage {
    width: 5rem;
}

#move3-damage {
    width: 5rem;
}

.pokemon-description textarea {
    width: 100%;
    margin-bottom: 0.5rem;
    margin-top: 0.25rem;
}